@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.transaction-contianer {
  width: 100%;
}
.scroller-transaction {
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 10px;
}
.item-transaction {
  border: 1px solid var(--color-border);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.item-transaction .amount {
  font-size: 25px;
  font-weight: 500;
}

.text-green {
  color: #5bbd5a;
}

.text-red {
  color: #bd5a5a;
}

.item-transaction .type {
  position: absolute;
  right: 10px;
  top: 10px;
}

.statistik.balance {
  font-size: 35px;
}
.statistik {
  font-size: 25px;
}

.grid-statistik {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .grid-statistik {
    grid-template-columns: 1fr;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-transaction {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.modal-add {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-background);
  padding: 15px;
  max-width: 500px;
  width: 90%;
  z-index: 2;
}

.black-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.607);
}

input,
select {
  width: 100%;
  /* height: 50px; */
  padding: 15px !important;
  background: transparent !important;
  border: 1px solid var(--color-border) !important;
  border-radius: 5px;
  color: var(--color-text) !important;
  margin-bottom: 10px;
}
select option {
  font-size: 16px;
  background-color: var(--color-background);
  padding: 8px 16px;
  cursor: pointer;
}

.delete {
  background: #bd5a5a;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  user-select: none;
  cursor: pointer;
}
.delete:hover {
  background: #9b4343;
}
.filter-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.btn-filter{
  position: absolute;
  right: 0;
  top: 0;
}